.navbar {
  width: 100%;
  height: 70px;
  padding-left: 5%;
  padding-right: 7%;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__brandContainer {
  display: flex;
  margin-left: 10px;
}
.navbar__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 5px;
  background-color: var(--main-color);
}
.navbar__color {
  background-color: #f5f5f5 !important;
  border-bottom: 1px solid #ccc;
}
a {
  text-decoration: none !important;
}

.navbar__brand {
  transition: var(--main-transition);
  font-size: 30px;
  cursor: pointer;
}
.navbar__brand:hover {
  color: var(--main-color);
}
.nav__link {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}
.nav__link:hover {
  color: var(--main-color);
}
.nav__link svg {
  font-size: 30px;
}
.navbar__cart {
  width: 50px;
  margin-left: 50px;
  margin-bottom: 5px;
}
.navbar__cart:hover {
  transition: var(--main-transition);
  transform: scale(1.05);
}
.navbar__cartLink {
  position: relative;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.navbar__cartLink svg {
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  color: #000;
  padding: 0 5px;
  margin-top: 5px;
  margin-right: 20px;
  border-radius: 50%;
  font-size: 24px;
}
.navbar__cartLink b {
  position: absolute;
  padding: 1px 6px;
  background-color: #ed143dc2;
  border-radius: 50%;
  margin-right: 20px;
  top: -10px;
  right: -10px;
  color: #fff;
  font-size: 14px;
}

.nav__category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 4em;
  padding: 10px;
  width: 72%;
  height: 80%;
  border-radius: 4px;
  flex: 1;
}
.nav__category:hover form {
  border: 2px solid var(--main-color);
}
.nav__category > div {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  position: relative;
  background-color: var(--main-color);
}
.nav__category > div svg {
  position: absolute;
  z-index: 1;
  transform: translateY(3%);
  right: 10px;
  font-size: 24px;
}
.nav__category > div select {
  border: none;
  outline: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: none;
  appearance: none;
  position: absolute;
  padding: 0px 5px;
}
.navbar__toggler {
  display: none;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 430px;
  margin-right: 30px;
}
.nav__mediaMenu {
  display: none;
}
.nav__mediaMenuPlus {
  display: none;
}

.nav__phone:hover {
  transition: var(--main-transition);
  color: var(--main-color);
}
@media screen and (max-width: 768px) {
  .navbar {
    width: 100% !important;
    display: none;
  }
}

.navbar__filter {
  display: flex;
}
.dropdown {
  width: 100px !important;
  list-style: none;
}

.navbart__userToggle {
  width: 150px !important;
  text-align: center;
  padding-top: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbart__userToggle img {
  margin-top: -10px;
  margin-right: 10px;
}
.navbar__customList {
  padding-top: 5px;
  display: block;
  position: absolute;
  background-color: #fff;
  margin-top: 7px;
  transform: scaleY(1);
  transform-origin: top;
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: space-around;
  transition: all 0.1s linear;

  border-radius: 4px;
}
.navbar__customList__non {
  transform: scaleY(0);
}
.navbar__userlistItem {
  width: 100%;
  padding: 15px;
  height: 20px;
  display: flex;
  align-items: center;
}
.navbar__userlistItem:hover {
  transform: scale(1.05);
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #000;
}
.navbar__userlistItem:last-child {
  background-color: rgb(206, 65, 9);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.navbar__userName {
  margin-top: 8px;
}
.nav__listItem {
  list-style: none;
}
