.profile__page {
  width: 90%;
  margin: 0 auto;
  /* margin-top:%; */
}
.profile__page .avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin: 5px auto;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  cursor: pointer;
}

.profile__page .avatar img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.profile__page .avatar span {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  background: #fff8;
  text-align: center;
  font-weight: 400;
  color: rgb(255, 140, 45);
  transition: 0.3 ease-in-out;
}
.form-group input {
  border: 2px solid var(--main-color);
}
.profile__page .avatar:hover span {
  bottom: -15%;
}

.profile__page #file_up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border: 3px solid var(--main-color) !important;
}
::-webkit-file-upload-button {
  cursor: pointer;
}
